<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="DomainName" value="arar.gov.sa" />-->
    <add key="=DomainName" value=""/>
    <add key="DomainConnetionErrorMSG" value="خطأ في الإتصال بالشبكة الداخلية لإمارة الحدود الشمالية" />
  </appSettings>
  <system.web>
    <sessionState timeout="1440" />
    <httpRuntime maxRequestLength="1024" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="DBEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=NorthernBordersProvinceDB;Persist Security Info=True;User ID=APPUSER;Password=asQW1@;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="NorthernBordersProvinceDBConnectionString" connectionString="Data Source=.;Initial Catalog=NorthernBordersProvinceDB;Persist Security Info=True;User ID=APPUSER;Password=asQW1@" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>